In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Loading the dataset
df=pd.read_csv("train.csv")
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [3]:
# To change the index as User_ID
df=df.set_index("User_ID")
df.head()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,,,,,,,,,,,
1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 550068 entries, 1000001 to 1006039
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Product_ID                  550068 non-null  object
 1   Gender                      550068 non-null  object
 2   Age                         550068 non-null  object
 3   Occupation                  550068 non-null  int64
 4   City_Category               550068 non-null  object
 5   Stay_In_Current_City_Years  550068 non-null  object
 6   Marital_Status              550068 non-null  int64
 7   Product_Category_1          550068 non-null  int64
 8   Product_Category_2          376430 non-null  float64
 9   Product_Category_3          166821 non-null  float64
 10  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 50.4+ MB

In [5]:
df['Occupation']=df['Occupation'].astype('object')
df['Marital_Status']=df['Marital_Status'].astype('object')
df['Product_Category_1']=df['Product_Category_1'].astype('object')
df['Product_Category_2']=df['Product_Category_2'].astype('object')
df['Product_Category_3']=df['Product_Category_3'].astype('object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 550068 entries, 1000001 to 1006039
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Product_ID                  550068 non-null  object
 1   Gender                      550068 non-null  object
 2   Age                         550068 non-null  object
 3   Occupation                  550068 non-null  object
 4   City_Category               550068 non-null  object
 5   Stay_In_Current_City_Years  550068 non-null  object
 6   Marital_Status              550068 non-null  object
 7   Product_Category_1          550068 non-null  object
 8   Product_Category_2          376430 non-null  object
 9   Product_Category_3          166821 non-null  object
 10  Purchase                    550068 non-null  int64
dtypes: int64(1), object(10)
memory usage: 50.4+ MB

In [7]:
# To check number of the duplicate records in the dataset
df.duplicated().sum()

113

In [8]:
# Dropping the duplicate records:
df=df.drop_duplicates(keep='first')

In [9]:
# To check number of missing values in the dataset
df.isnull().sum()

Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173583
Product_Category_3            383154
Purchase                           0
dtype: int64

In [10]:
df['Product_Category_2'].unique()

array([nan, 6.0, 14.0, 2.0, 8.0, 15.0, 16.0, 11.0, 5.0, 3.0, 4.0, 12.0,
       9.0, 10.0, 17.0, 13.0, 7.0, 18.0], dtype=object)

In [11]:
df['Product_Category_3'].unique()

array([nan, 14.0, 17.0, 5.0, 4.0, 16.0, 15.0, 8.0, 9.0, 13.0, 6.0, 12.0,
       3.0, 18.0, 11.0, 10.0], dtype=object)

In [12]:
# Handling of null values:
df['Product_Category_2']=df['Product_Category_2'].fillna(df['Product_Category_2'].mode().values[0])
df['Product_Category_3']=df['Product_Category_3'].fillna(df['Product_Category_3'].mode().values[0])

In [13]:
df.isnull().sum()

Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [14]:
for col in df.columns:
  print(f"{col}:{df[col].nunique()}")

Product_ID:3631
Gender:2
Age:7
Occupation:21
City_Category:3
Stay_In_Current_City_Years:5
Marital_Status:2
Product_Category_1:20
Product_Category_2:17
Product_Category_3:15
Purchase:18105

# Count/Frequncy Encoding

In [15]:
X=df.drop('Purchase',axis=1)
y=df['Purchase']

In [16]:
prod_freq=X['Product_ID'].value_counts().to_dict()

In [17]:
X['Product_ID']=X['Product_ID'].map(prod_freq)

In [18]:
X

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
User_ID,,,,,,,,,,
1000001,227,F,0-17,10,A,2,0,3,8.0,16.0
1000001,581,F,0-17,10,A,2,0,1,6.0,14.0
1000001,102,F,0-17,10,A,2,0,12,8.0,16.0
1000001,341,F,0-17,10,A,2,0,12,14.0,16.0
1000002,203,M,55+,16,C,4+,0,8,8.0,16.0
...,...,...,...,...,...,...,...,...,...,...
1006033,836,M,51-55,13,B,1,1,20,8.0,16.0
1006035,812,F,26-35,1,C,3,0,20,8.0,16.0
1006036,812,F,26-35,15,B,4+,1,20,8.0,16.0
1006038,812,F,55+,1,C,2,0,20,8.0,16.0
1006039,895,F,46-50,0,B,4+,1,20,8.0,16.0

# OneHot Encoding

In [19]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
X=pd.DataFrame(encoder.fit_transform(X[['Gender','Age','Occupation','City_Category','Stay_In_Current_City_Years', 'Marital_Status',
                                      'Product_Category_1','Product_Category_2', 'Product_Category_3']]).toarray(),columns=encoder.get_feature_names_out())

In [20]:
X

,Gender_F,Gender_M,Age_0-17,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,Occupation_0,...,Product_Category_3_9.0,Product_Category_3_10.0,Product_Category_3_11.0,Product_Category_3_12.0,Product_Category_3_13.0,Product_Category_3_14.0,Product_Category_3_15.0,Product_Category_3_16.0,Product_Category_3_17.0,Product_Category_3_18.0
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549950,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
549951,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
549952,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
549953,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
549954,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [22]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((412466, 92), (137489, 92), (412466,), (137489,))

# Model Training and Model Evaluation

In [23]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [24]:
linear=LinearRegression()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()
decisiontree=DecisionTreeRegressor()
adaboost=AdaBoostRegressor()
gboost=GradientBoostingRegressor()

In [25]:
import time
models=[linear,lasso,ridge,elastic,decisiontree,adaboost,gboost]
result=pd.DataFrame(columns=['Model Name','RMSE'])

def build_and_evaluate_models(X_train,X_test,y_train,y_test,models):
  for model in models:
    start=time.time()
    trained_model=model.fit(X_train,y_train)
    end=time.time()
    fit_time=end-start

    start=time.time()
    y_pred=trained_model.predict(X_test)
    end=time.time()
    fit_time=end-start

    mse=mean_squared_error(y_test,y_pred)
    rmse=np.sqrt(mse)

    result.loc[len(result)]=[model.__class__.__name__,rmse]
  return result

result = build_and_evaluate_models(X_train,X_test,y_train,y_test,models)

In [26]:
result

                  Model Name         RMSE
0           LinearRegression  2991.082581
1                      Lasso  2993.282935
2                      Ridge  2991.009673
3                 ElasticNet  4430.646772
4      DecisionTreeRegressor  3292.918468
5          AdaBoostRegressor  3799.430010
6  GradientBoostingRegressor  3028.116171

# Hyperparameter Tuning Using Ridge Regression

In [27]:
# Hyperparamter Tuning Using Ridge Regressor:
# GridSearch CV
from sklearn.model_selection import GridSearchCV
parameter={
 'alpha':[0.001,0.01,1,10,100],
 'solver':['auto', 'saga', 'lbfgs']
}

In [28]:
regressor=Ridge()
reg=GridSearchCV(regressor,param_grid=parameter,cv=5,scoring='neg_root_mean_squared_error',verbose=3)
reg.fit(X_train,y_train)

Fitting 5 folds for each of 15 candidates, totalling 75 fits
[CV 1/5] END ......alpha=0.001, solver=auto;, score=-2979.800 total time=   0.5s
[CV 2/5] END ......alpha=0.001, solver=auto;, score=-2976.215 total time=   0.6s
[CV 3/5] END ......alpha=0.001, solver=auto;, score=-2983.126 total time=   0.6s
[CV 4/5] END ......alpha=0.001, solver=auto;, score=-2971.279 total time=   0.6s
[CV 5/5] END ......alpha=0.001, solver=auto;, score=-2987.788 total time=   0.6s
[CV 1/5] END ......alpha=0.001, solver=saga;, score=-2979.800 total time=  13.2s
[CV 2/5] END ......alpha=0.001, solver=saga;, score=-2976.219 total time=  12.5s
[CV 3/5] END ......alpha=0.001, solver=saga;, score=-2983.125 total time=  12.5s
[CV 4/5] END ......alpha=0.001, solver=saga;, score=-2971.279 total time=  13.2s
[CV 5/5] END ......alpha=0.001, solver=saga;, score=-2987.788 total time=  13.8s
[CV 1/5] END ...........alpha=0.001, solver=lbfgs;, score=nan total time=   0.1s
[CV 2/5] END ...........alpha=0.001, solver=lbfgs;, score=nan total time=   0.1s
[CV 3/5] END ...........alpha=0.001, solver=lbfgs;, score=nan total time=   0.1s
[CV 4/5] END ...........alpha=0.001, solver=lbfgs;, score=nan total time=   0.1s
[CV 5/5] END ...........alpha=0.001, solver=lbfgs;, score=nan total time=   0.1s
[CV 1/5] END .......alpha=0.01, solver=auto;, score=-2979.800 total time=   0.6s
[CV 2/5] END .......alpha=0.01, solver=auto;, score=-2976.215 total time=   0.6s
[CV 3/5] END .......alpha=0.01, solver=auto;, score=-2983.126 total time=   0.6s
[CV 4/5] END .......alpha=0.01, solver=auto;, score=-2971.279 total time=   0.8s
[CV 5/5] END .......alpha=0.01, solver=auto;, score=-2987.788 total time=   0.8s
[CV 1/5] END .......alpha=0.01, solver=saga;, score=-2979.801 total time=  12.4s
[CV 2/5] END .......alpha=0.01, solver=saga;, score=-2976.214 total time=  13.3s
[CV 3/5] END .......alpha=0.01, solver=saga;, score=-2983.125 total time=  13.2s
[CV 4/5] END .......alpha=0.01, solver=saga;, score=-2971.281 total time=  12.4s
[CV 5/5] END .......alpha=0.01, solver=saga;, score=-2987.794 total time=  13.1s
[CV 1/5] END ............alpha=0.01, solver=lbfgs;, score=nan total time=   0.1s
[CV 2/5] END ............alpha=0.01, solver=lbfgs;, score=nan total time=   0.1s
[CV 3/5] END ............alpha=0.01, solver=lbfgs;, score=nan total time=   0.1s
[CV 4/5] END ............alpha=0.01, solver=lbfgs;, score=nan total time=   0.1s
[CV 5/5] END ............alpha=0.01, solver=lbfgs;, score=nan total time=   0.1s
[CV 1/5] END ..........alpha=1, solver=auto;, score=-2979.808 total time=   0.6s
[CV 2/5] END ..........alpha=1, solver=auto;, score=-2976.221 total time=   0.6s
[CV 3/5] END ..........alpha=1, solver=auto;, score=-2983.119 total time=   0.6s
[CV 4/5] END ..........alpha=1, solver=auto;, score=-2971.276 total time=   0.6s
[CV 5/5] END ..........alpha=1, solver=auto;, score=-2987.785 total time=   0.6s
[CV 1/5] END ..........alpha=1, solver=saga;, score=-2979.808 total time=  14.3s
[CV 2/5] END ..........alpha=1, solver=saga;, score=-2976.219 total time=  12.5s
[CV 3/5] END ..........alpha=1, solver=saga;, score=-2983.119 total time=  13.6s
[CV 4/5] END ..........alpha=1, solver=saga;, score=-2971.277 total time=  12.5s
[CV 5/5] END ..........alpha=1, solver=saga;, score=-2987.785 total time=  12.5s
[CV 1/5] END ...............alpha=1, solver=lbfgs;, score=nan total time=   0.1s
[CV 2/5] END ...............alpha=1, solver=lbfgs;, score=nan total time=   0.1s
[CV 3/5] END ...............alpha=1, solver=lbfgs;, score=nan total time=   0.1s
[CV 4/5] END ...............alpha=1, solver=lbfgs;, score=nan total time=   0.1s
[CV 5/5] END ...............alpha=1, solver=lbfgs;, score=nan total time=   0.1s
[CV 1/5] END .........alpha=10, solver=auto;, score=-2979.900 total time=   0.6s
[CV 2/5] END .........alpha=10, solver=auto;, score=-2976.299 total time=   0.6s
[CV 3/5] END .........alpha=10, solver=auto;, score=-2983.083 total time=   0.7s
[CV 4/5] END .........alpha=10, solver=auto;, score=-2971.269 total time=   0.8s
[CV 5/5] END .........alpha=10, solver=auto;, score=-2987.782 total time=   0.8s
[CV 1/5] END .........alpha=10, solver=saga;, score=-2979.900 total time=  11.5s
[CV 2/5] END .........alpha=10, solver=saga;, score=-2976.300 total time=  11.1s
[CV 3/5] END .........alpha=10, solver=saga;, score=-2983.084 total time=  11.9s
[CV 4/5] END .........alpha=10, solver=saga;, score=-2971.271 total time=  11.4s
[CV 5/5] END .........alpha=10, solver=saga;, score=-2987.783 total time=  12.0s
[CV 1/5] END ..............alpha=10, solver=lbfgs;, score=nan total time=   0.1s
[CV 2/5] END ..............alpha=10, solver=lbfgs;, score=nan total time=   0.1s
[CV 3/5] END ..............alpha=10, solver=lbfgs;, score=nan total time=   0.1s
[CV 4/5] END ..............alpha=10, solver=lbfgs;, score=nan total time=   0.1s
[CV 5/5] END ..............alpha=10, solver=lbfgs;, score=nan total time=   0.1s
[CV 1/5] END ........alpha=100, solver=auto;, score=-2982.497 total time=   0.6s
[CV 2/5] END ........alpha=100, solver=auto;, score=-2978.759 total time=   0.6s
[CV 3/5] END ........alpha=100, solver=auto;, score=-2984.548 total time=   0.6s
[CV 4/5] END ........alpha=100, solver=auto;, score=-2973.035 total time=   0.7s
[CV 5/5] END ........alpha=100, solver=auto;, score=-2989.560 total time=   0.8s
[CV 1/5] END ........alpha=100, solver=saga;, score=-2982.496 total time=  10.9s
[CV 2/5] END ........alpha=100, solver=saga;, score=-2978.760 total time=  11.9s
[CV 3/5] END ........alpha=100, solver=saga;, score=-2984.549 total time=  11.4s
[CV 4/5] END ........alpha=100, solver=saga;, score=-2973.032 total time=  11.4s
[CV 5/5] END ........alpha=100, solver=saga;, score=-2989.560 total time=  12.5s
[CV 1/5] END .............alpha=100, solver=lbfgs;, score=nan total time=   0.1s
[CV 2/5] END .............alpha=100, solver=lbfgs;, score=nan total time=   0.1s
[CV 3/5] END .............alpha=100, solver=lbfgs;, score=nan total time=   0.1s
[CV 4/5] END .............alpha=100, solver=lbfgs;, score=nan total time=   0.1s
[CV 5/5] END .............alpha=100, solver=lbfgs;, score=nan total time=   0.1s

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [0.001, 0.01, 1, 10, 100],
                         'solver': ['auto', 'saga', 'lbfgs']},
             scoring='neg_root_mean_squared_error', verbose=3)

In [29]:
reg.best_params_

{'alpha': 0.01, 'solver': 'auto'}

In [30]:
reg.best_estimator_

Ridge(alpha=0.01)

In [31]:
reg.best_score_

-2979.641607363384

In [32]:
reg.best_estimator_.predict([X_test.iloc[10]])

array([6232.82874463])

In [33]:
y_pred=reg.best_estimator_.predict(X_test)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)

In [34]:
rmse

2991.0060540800882